body {
    padding-top: 90px;
    background: linear-gradient(-45deg,#17244e,#17244e 60%,#47175c) fixed;
}

.App {
    text-align: center;
}

.App-logo {
    height: 120px;
}

.App-header {
    height: 180px;
    padding: 10px;
    color: black;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
